<div class="col-xs-12" ng-controller="ServiceExchangeCtrl">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-exchange"></i> Catalogue Exchange</h3>
        </div>
        <div class="box-body no-padding">
            <div class="col-xs-12">
                <div class="col-md-12 box thumbnail">
                    <div class="box-header">
                        <i class="fa fa-share"></i>
                        <h3 class="box-title">Selection of external catalogue items</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <h5><i class="fa fa-filter"></i> Filters</h5>
                            <div class="col-md-12" >
                                <label >Origin domain</label>
                                <ui-select class="form-group" ng-model="selected_vnf_filter_type" ng-disabled="disabled" on-select="updateFilteredVNFs($model)">
                                    <ui-select-match placeholder="">[[$select.selected.domain]]</ui-select-match>
                                    <ui-select-choices repeat="filter_type.domain as filter_type in domainList">
                                        Domain <span ng-bind-html="filter_type.domain"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-12" >
                                <label>Price Range</label>
                                <div range-slider min="0" max="300" model-min="selected_price_range.min" model-max="selected_price_range.max" show-values="true" attach-handle-values="true" on-handle-up="updateFilteredVNFs()"></div>
                            </div>
                            </div>

                            <div class="table-responsive" id="no-more-tables">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <th style="max-width: 300px;">Description</th>
                                        <th>Provider</th>
                                        <th>Price</th>
                                        <th>Available SLAs</th>
                                        <th class="box-tools pull-right">Adapt</th>
                                    </tr>
                                    <tr ng-repeat="vnf in filtered_vnfs">
                                        <td data-title="Name">[[vnf.name]]</td>
                                        <td data-title="Description" style="max-width: 300px;">[[vnf.description]]</td>
                                        <td data-title="Provider">[[vnf.provider]]@Domain[[vnf.domainId]]</td>
                                        <td data-title="Price">
                                            <span> <small>Model: [[vnf.billing_model]]</small> </span>
						<br>
                                            <span> [[vnf.price_per_period]][[vnf.currency]]<small> ([[vnf.period]])</small></span>
                                            <span> + </span>
                                            <span> [[vnf.price_setup]][[vnf.currency]] <small>Setup</small></span>
                                        </td>

                                        <td data-title="Available SLAs">
                                            <!--
                                            <span ng-repeat="flavor in vnf.deployment_flavours" class="label label-[[flavor.flavour_key]]" uib-popover-template="dynamicPopover.templateUrl" popover-title="[[flavor.flavour_key | uppercase]] Flavor Info" popover-trigger="mouseenter">
                                                [[flavor.flavour_key]] &euro;[[ getDeploymentCost(vnf,flavor.flavour_key) ]]/hour
                                                <script type="text/ng-template" id="myPopoverTemplate.html">
                                                    <h6><strong>Resources</strong></h6>
                                                    <div></div>
                                                    <h6><strong>Assurance Parameters</strong></h6>
                                                    <div ng-repeat="par in flavor.assurance_parameters">
                                                        <span> - [[ par.formula ]][[ par.unit ]] ([[par.penalty.expression]]% [[par.penalty.type]] [[par.penalty.validity]])</span>
                                                    </div>
                                                </script>
                                            </span>
                                            -->
                                            <span> [[vnf.sla]] </span>
                                        </td>
                                        <td data-title="Action">
                                            <div class="box-tools pull-right">
                                                    <button class="btn btn-default btn-sm" ng-click="editNSModal(vnf, vnf)"><i class="fa fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="box-footer no-padding">
    </div>
</div>

